body {
    background-color: #6065f7;  
    color: white; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: 100vh;  
    /* Empêche la page entière de défiler */
    overflow: hidden; 
    padding-top: 20px;
}
 
/*space de saisie*/
#input_task {
    padding: 10px;
    width: 250px;
    border-radius: 5px; 
    margin-bottom: 10px;
}

/* Ajout & Supprimer Tout */
button {
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

#Btn_add {
    background-color: #dcdde1;
    color: #c0392b;
    margin-bottom: 10px;
}

#btnclearAll {
    background-color: #ffffff;
    color: #000000;
    border: 2px solid black;
}

/* Zonde de défilement */
ol#taskList {
    max-width: 450px;
    margin-top: 20px;
    padding: 15px;
/* Liste 60% hauteur écran */
    max-height: 60vh;  
/* Activation le scroll vertical */
    overflow-y: auto;     
    
    border-top: 3px solid rgba(38, 100, 2, 0.5); 
    list-style: none;     /* Enlève les chiffres par défaut */
}

/*Style en arrière plan liste de tâches */
li {
    background-color: rgba(203, 245, 239, 0.2);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(5px); /* Effet de transparence moderne */
}

/* space to text */
li span {
    flex: 1;
    word-break: break-word;
    margin-right: 10px;
    font-size: 14px;
}

/*btn Editer & Supprimer */
.edit-btn {
    background-color: #f1c40f;
    color: black;
    margin-right: 5px;
    font-size: 12px;
}

.delete-btn {
    background-color: #2ecc71; /* Votre vert actuel */
    color: black;
    font-size: 12px;
}